@import "partials/reset";
@import "partials/grid";
@import "partials/loadingbar";
@import "partials/spacing";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  min-height: 100vh;
}

body {
  position: relative;
  padding-bottom: 30px;
  font: {
    family: "Roboto", "Helvetica", "Arial", sans-serif;
    size: 1.4rem;
  }
  background: rgb(79, 43, 79);
  background: -moz-linear-gradient(top,  rgba(79, 43, 79, 1) 50%, rgba(65, 29, 65, 1) 100%);
  background: -webkit-linear-gradient(top,  rgba(79, 43, 79, 1) 50%,rgba(65, 29, 65, 1) 100%);
  background: linear-gradient(to bottom,  rgba(79, 43, 79, 1) 50%,rgba(65, 29, 65, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f2b4f', endColorstr='#411d41',GradientType=0 );
}

main {
  width: 100%;
  height: 100%;
  color: darken(#999, 20%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 2.8rem;
}

h4 {

label {
  cursor: pointer;
}
  font-size: 2.2rem;
}

h4, p {
  word-wrap: break-word;
}

label {
  cursor: pointer;
}

.centered-section {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todolist {
  border-radius: 5px;
  margin-top: 50px;

  &__todos {
    background-color: white;
  }
}

.heading {
  background-color: #6d496d;
  border-radius: 2px;
  padding: 30px 25px;
  font-weight: bold;

  &__title {
    font-size: 1.8rem;
    color: white;
  }
}

.form {
  background-color: #f2f2f2;
  border-radius: 2px;
  padding: 15px 20px;
}

.btn-default {
  background-color: #6e4972;
  border: thin solid #6e4972;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: block;
  font: inherit;
  font-weight: bold;
  padding: 10px 0;
  outline: none;
  text-align: center;
  width: 100%;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;

  &:hover {
    background-color: white;
    color: #6e4972;
  }

  &.btn-inverted {
    background-color: white;
    border: thin solid white;
    color: #6e4972;

    &:hover {
      color: white;
      background-color: #6e4972;
    }
  }
}

.input {
  position: relative;
  margin-bottom: 15px;

  label {
    color: darken(#999, 15%);
    display: block;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 10;
  }

  input {
    border: thin solid darken(#eeeeee, 10%);
    font: inherit;
    color: darken(#999, 20%);
    display: block;
    padding: 20px 25px;
    padding-left: 100px;
    outline: none;
    width: 100%;
  }

  &.input--no-padding {
    input {
      padding-left: 25px;
    }
  }

  &__withicon {
    position: relative;

    i {
      color: darken(#999, 15%);
      font-size: 16px;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 768px) {
  .input {
    label {
      position: static;
    }

    input {
      padding-left: 15px !important;
    }
  }

  .form {
    padding-top: 20px;
  }
}
