<section class="todolist col-xs-12 col-sm-offset-2 col-sm-8">
  <header class="heading">
    <div class="row">
      <div class="vcenter col-xs-6">
        <h1 class="heading__title">Todolist</h1>
      </div><!--

      --><div class="vcenter col-xs-offset-2 col-xs-4 col-sm-offset-3 col-sm-3">
        <button
          ng-click="vm.logout()"
          class="btn-default btn-inverted"
        >
          Logout
        </button>
      </div>
    </div>
  </header>

  <section class="todolist__todos">
    <div class="controllers">
      <h2 class="p+ p--bottom-0">Add Todo</h2>

      <div class="row p--top">
        <div class="col-xs-12 col-sm-4 xs/p--horizontal+ p--left+">
          <div class="input">
            <label>Title</label>
            <input
              ng-model="vm.add.title"
              type="text"
            />
          </div>
        </div>

        <div class="col-xs-12 col-sm-8 xs/p--horizontal+ p--right+">
          <div class="input">
            <label>Description</label>
            <input
              ng-model="vm.add.description"
              type="text"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-3 p--left+">
          <button
            ng-click="vm.addTodo()"
            class="btn-default"
          >
            Add todo
          </button>
        </div>
      </div>

      <h2 class="p--top+ p--left+ p--right+ p--bottom">Options</h2>

      <div class="row">
        <div class="col-xs-12 p--horizontal+">
          <div class="input">
            <label for="controllers__search">Search</label>
            <input
              ng-model="vm.searchInput"
              id="controllers__search"
              type="text"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 p--horizontal+">
          <input
            ng-model="vm.viewFinished"
            id="controllers__viewFinished"
            type="checkbox"
            checked
          />
          <label for="controllers__viewFinished">View finished</label>
        </div>
      </div>
    </div>

    <section class="todolist__items p--top+">
      <div class="row">
        <article class="col-xs-12 p--bottom" ng-repeat="todo in vm.getTodos() | filter:vm.searchInput">
          <div
            ng-if="todo.editMode"
            class="edit p--bottom"
          >
            <div class="row">
              <div class="col-xs-12 p--horizontal+">
                <div class="input input--no-padding">
                  <input
                    ng-model="todo.title"
                    type="text"
                  />
                </div>
              </div>

              <div class="col-xs-12 p--horizontal+">
                <div class="input input--no-padding">
                  <input
                    ng-model="todo.description"
                    type="text"
                  />
                </div>
              </div>

              <div class="col-xs-12 p--horizontal+ p--bottom">
                <input
                  ng-model="todo.finished"
                  type="checkbox"
                  checked
                />
                <label>Finished</label>
              </div>

              <div class="col-xs-5 col-sm-3 p--left+">
                <button
                  ng-click="vm.updateTodo(todo)"
                  class="btn-default"
                >
                  Edit
                </button>
              </div>
            </div>
          </div>

          <div ng-if="!todo.editMode">
            <div class="row">
              <div class="col-xs-12 p--horizontal+">
                <h4 class="p--bottom">{{ todo.title }}</h4>
                <p class="p--bottom">{{ todo.description }}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-5 col-sm-3 p--left+">
              <button
                ng-click="vm.toggleEdit(todo)"
                class="btn-default"
              >
                {{ !todo.editMode ? 'Edit' : 'Cancel' }}
              </button>
            </div>

            <div class="col-xs-5 col-sm-3 p--right+">
              <button
                ng-click="vm.deleteTodo(todo.id)"
                class="btn-default"
              >
                Delete
              </button>
            </div>
          </div>
        </article>
      </div>
    </section>
  </section>
</section>
