<section class="login centered-section col-xs-11 col-sm-6">
  <header class="heading">
    <h1 class="heading__title">Login Form</h1>
  </header>

  <form
    ng-submit="vm.authenticate()"
    class="form"
  >
    <div class="input">
      <label for="email">Username</label>

      <div class="input__withicon">
        <input
          ng-model="vm.email"
          id="email" name="email" type="text"
        />

        <i class="fa fa-male"></i>
      </div>
    </div>

    <div class="input">
      <label for="password">Password</label>

      <div class="input__withicon">
        <input
          ng-model="vm.password"
          id="password" name="password" type="password"
        />

        <i class="fa fa-lock"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <button class="btn-default" type="submit">Sign In</button>
      </div>
    </div>
  </form>
</section>
