@import './_variables';
@import './_mixins';

$base-space: 2 * $base-spacing-unit;

$attributes: (
    "m"    "margin",
    "p"    "padding"
) !default;

@mixin spacing-helpers($widths-breakpoint: null) {
    @each $attribute in $attributes {
        $prefix:    nth($attribute, 1);
        $attr:      nth($attribute, 2);

        // 16px
        .#{$widths-breakpoint}#{$prefix}  { #{$attr}: $base-space; }
        .#{$widths-breakpoint}#{$prefix}--top { #{$attr}-top: $base-space; }
        .#{$widths-breakpoint}#{$prefix}--right { #{$attr}-right: $base-space; }
        .#{$widths-breakpoint}#{$prefix}--bottom { #{$attr}-bottom: $base-space; }
        .#{$widths-breakpoint}#{$prefix}--left { #{$attr}-left: $base-space; }
        .#{$widths-breakpoint}#{$prefix}--horizontal { #{$attr}-right: $base-space; #{$attr}-left: $base-space; }
        .#{$widths-breakpoint}#{$prefix}--vertical { #{$attr}-top: $base-space; #{$attr}-bottom: $base-space; }

        // 4px
        .#{$widths-breakpoint}#{$prefix}--  { #{$attr}: $base-space / 4; }
        .#{$widths-breakpoint}#{$prefix}--top-- { #{$attr}-top: $base-space / 4; }
        .#{$widths-breakpoint}#{$prefix}--right-- { #{$attr}-right: $base-space / 4; }
        .#{$widths-breakpoint}#{$prefix}--bottom-- { #{$attr}-bottom: $base-space / 4; }
        .#{$widths-breakpoint}#{$prefix}--left-- { #{$attr}-left: $base-space / 4; }
        .#{$widths-breakpoint}#{$prefix}--horizontal-- { #{$attr}-right: $base-space / 4; #{$attr}-left: $base-space / 4; }
        .#{$widths-breakpoint}#{$prefix}--vertical-- { #{$attr}-top: $base-space / 4; #{$attr}-bottom: $base-space / 4; }

        // 8px
        .#{$widths-breakpoint}#{$prefix}-  { #{$attr}: $base-space / 2; }
        .#{$widths-breakpoint}#{$prefix}--top- { #{$attr}-top: $base-space / 2; }
        .#{$widths-breakpoint}#{$prefix}--right- { #{$attr}-right: $base-space / 2; }
        .#{$widths-breakpoint}#{$prefix}--bottom- { #{$attr}-bottom: $base-space / 2; }
        .#{$widths-breakpoint}#{$prefix}--left- { #{$attr}-left: $base-space / 2; }
        .#{$widths-breakpoint}#{$prefix}--horizontal- { #{$attr}-right: $base-space / 2; #{$attr}-left: $base-space / 2; }
        .#{$widths-breakpoint}#{$prefix}--vertical- { #{$attr}-top: $base-space / 2; #{$attr}-bottom: $base-space / 2; }

        // 32px
        .#{$widths-breakpoint}#{$prefix}\+  { #{$attr}: $base-space * 2; }
        .#{$widths-breakpoint}#{$prefix}--top\+ { #{$attr}-top: $base-space * 2; }
        .#{$widths-breakpoint}#{$prefix}--right\+ { #{$attr}-right: $base-space * 2; }
        .#{$widths-breakpoint}#{$prefix}--bottom\+ { #{$attr}-bottom: $base-space * 2; }
        .#{$widths-breakpoint}#{$prefix}--left\+ { #{$attr}-left: $base-space * 2; }
        .#{$widths-breakpoint}#{$prefix}--horizontal\+ { #{$attr}-right: $base-space * 2; #{$attr}-left: $base-space * 2; }
        .#{$widths-breakpoint}#{$prefix}--vertical\+ { #{$attr}-top: $base-space * 2; #{$attr}-bottom: $base-space * 2; }

        // 48px
        .#{$widths-breakpoint}#{$prefix}\+\+  { #{$attr}: $base-space * 3; }
        .#{$widths-breakpoint}#{$prefix}--top\+\+ { #{$attr}-top: $base-space * 3; }
        .#{$widths-breakpoint}#{$prefix}--right\+\+ { #{$attr}-right: $base-space * 3; }
        .#{$widths-breakpoint}#{$prefix}--bottom\+\+ { #{$attr}-bottom: $base-space * 3; }
        .#{$widths-breakpoint}#{$prefix}--left\+\+ { #{$attr}-left: $base-space * 3; }
        .#{$widths-breakpoint}#{$prefix}--horizontal\+\+ { #{$attr}-right: $base-space * 3; #{$attr}-left: $base-space * 3; }
        .#{$widths-breakpoint}#{$prefix}--vertical\+\+ { #{$attr}-top: $base-space * 3; #{$attr}-bottom: $base-space * 3; }

        // 64px
        .#{$widths-breakpoint}#{$prefix}\+\+\+  { #{$attr}: $base-space * 4; }
        .#{$widths-breakpoint}#{$prefix}--top\+\+\+ { #{$attr}-top: $base-space * 4; }
        .#{$widths-breakpoint}#{$prefix}--right\+\+\+ { #{$attr}-right: $base-space * 4; }
        .#{$widths-breakpoint}#{$prefix}--bottom\+\+\+ { #{$attr}-bottom: $base-space * 4; }
        .#{$widths-breakpoint}#{$prefix}--left\+\+\+ { #{$attr}-left: $base-space * 4; }
        .#{$widths-breakpoint}#{$prefix}--horizontal\+\+\+ { #{$attr}-right: $base-space * 4; #{$attr}-left: $base-space * 4; }
        .#{$widths-breakpoint}#{$prefix}--vertical\+\+\+ { #{$attr}-top: $base-space * 4; #{$attr}-bottom: $base-space * 4; }

        // 96px
        .#{$widths-breakpoint}#{$prefix}\+\+\+\+  { #{$attr}: $base-space * 6; }
        .#{$widths-breakpoint}#{$prefix}--top\+\+\+\+ { #{$attr}-top: $base-space * 6; }
        .#{$widths-breakpoint}#{$prefix}--right\+\+\+\+ { #{$attr}-right: $base-space * 6; }
        .#{$widths-breakpoint}#{$prefix}--bottom\+\+\+\+ { #{$attr}-bottom: $base-space * 6; }
        .#{$widths-breakpoint}#{$prefix}--left\+\+\+\+ { #{$attr}-left: $base-space * 6; }
        .#{$widths-breakpoint}#{$prefix}--horizontal\+\+\+\+ { #{$attr}-right: $base-space * 6; #{$attr}-left: $base-space * 6; }
        .#{$widths-breakpoint}#{$prefix}--vertical\+\+\+\+ { #{$attr}-top: $base-space * 6; #{$attr}-bottom: $base-space * 6; }

        // 0px
        .#{$widths-breakpoint}#{$prefix}--0  { #{$attr}: 0; }
        .#{$widths-breakpoint}#{$prefix}--top-0 { #{$attr}-top: 0; }
        .#{$widths-breakpoint}#{$prefix}--right-0 { #{$attr}-right: 0; }
        .#{$widths-breakpoint}#{$prefix}--bottom-0 { #{$attr}-bottom: 0; }
        .#{$widths-breakpoint}#{$prefix}--left-0 { #{$attr}-left: 0; }
        .#{$widths-breakpoint}#{$prefix}--horizontal-0 { #{$attr}-right: 0; #{$attr}-left: 0; }
        .#{$widths-breakpoint}#{$prefix}--vertical-0 { #{$attr}-top: 0; #{$attr}-bottom: 0; }

        @if $attr == 'margin' {
            .#{$widths-breakpoint}#{$prefix}--auto  { #{$attr}: auto; }
            .#{$widths-breakpoint}#{$prefix}--top-auto { #{$attr}-top: auto; }
            .#{$widths-breakpoint}#{$prefix}--right-auto { #{$attr}-right: auto; }
            .#{$widths-breakpoint}#{$prefix}--bottom-auto { #{$attr}-bottom: auto; }
            .#{$widths-breakpoint}#{$prefix}--left-auto { #{$attr}-left: auto; }
            .#{$widths-breakpoint}#{$prefix}--horizontal-auto { #{$attr}-right: auto; #{$attr}-left: auto; }
            .#{$widths-breakpoint}#{$prefix}--vertical-auto { #{$attr}-top: auto; #{$attr}-bottom: auto; }
        }
    }
}

@include spacing-helpers();

@each $breakpoint in $breakpoints {

  // Get the name of the breakpoint.
  $alias: nth($breakpoint, 1);

  @include media-query($alias) {
      @include spacing-helpers(#{$alias}\/);
  }
}
