$base-spacing-unit:     8px;

// Extra small screen / phone
$screen-xs-min:              480px;

// Small screen / tablet
$screen-sm-min:              768px;

// Medium screen / desktop
$screen-md-min:              992px;

// Large screen / wide desktop
$screen-lg-min:              1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$breakpoints: (
    "xs"          "screen and (max-width: #{$screen-xs-max})",
    "sm"          "screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})",
    "md"          "screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})",
    "lg"          "screen and (min-width: #{$screen-lg-min})"
) !default;
